@model T_task.Models.Matrix

@{
    ViewBag.Title = "Low Cost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="border-bottom"><h3>Розрахувати мінімальну вартість транспортування стекол <br/>з міст-склофабрик до будівельних компаній:</h3></div>

    <p>Виготовляють стекол щомісяця:</p>
    <div class="row ml-1 pb-3 border-bottom">
        @for (int i = 0; i < Model.Restrictions; i++)
        {
            <div hidden>@Html.TextBoxFor(x => Model.CMatrix[Model.Restrictions][Model.Variables], null, new { @placeholder = "Місто " + @i + 1, @class = "form-control" })</div>
            if (i == 0)
            {
                <div class="input-group mt-2 col-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Київ:</span>
                    </div>
                    @Html.TextBoxFor(x => Model.CMatrix[i][Model.Variables], null, new { @placeholder = "Київ", @class = "form-control" })
                    <div class="input-group-append">
                        <span class="input-group-text">тис. стекол</span>
                    </div>
                </div>
            }
            if (i == 1)
            {
                <div class="input-group mt-2 col-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Львів:</span>
                    </div>
                    @Html.TextBoxFor(x => Model.CMatrix[i][Model.Variables], null, new { @placeholder = "Львів", @class = "form-control" })
                    <div class="input-group-append">
                        <span class="input-group-text">тис. стекол</span>
                    </div>
                </div>
            }
            if (i == 2)
            {
                <div class="input-group mt-2 col-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Харків:</span>
                    </div>
                    @Html.TextBoxFor(x => Model.CMatrix[i][Model.Variables], null, new { @placeholder = "Харків", @class = "form-control" })
                    <div class="input-group-append">
                        <span class="input-group-text">тис. стекол</span>
                    </div>
                </div>
            }
            if (i >= 3)
            {
                <div class="input-group mt-2 col-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Місто @(i + 1):</span>
                    </div>
                    @Html.TextBoxFor(x => Model.CMatrix[i][Model.Variables], null, new { @placeholder = "Місто " + @i + 1, @class = "form-control" })
                    <div class="input-group-append">
                        <span class="input-group-text">тис. стекол</span>
                    </div>
                </div>
            }
        }
    </div>
    <p class="mt-2">Щомісячно мають отримати:</p>
    <div class="row ml-1 pb-3 border-bottom">
        @for (int i = 0; i < Model.Variables; i++)
        {
            if (i == 0)
            {
                <div class="input-group mt-2 col-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Житлобуд-1:</span>
                    </div>
                    @Html.TextBoxFor(x => Model.CMatrix[Model.Restrictions][i], null, new { @placeholder = "Житлобуд-1", @class = "form-control" })
                    <div class="input-group-append">
                        <span class="input-group-text">тис. стекол</span>
                    </div>
                </div>
            }
            if (i == 1)
            {
                <div class="input-group mt-2 col-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Житлобуд-2:</span>
                    </div>
                    @Html.TextBoxFor(x => Model.CMatrix[Model.Restrictions][i], null, new { @placeholder = "Житлобуд-2", @class = "form-control" })
                    <div class="input-group-append">
                        <span class="input-group-text">тис. стекол</span>
                    </div>
                </div>
            }
            if (i == 2)
            {
                <div class="input-group mt-2 col-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Петрівський квартал:</span>
                    </div>
                    @Html.TextBoxFor(x => Model.CMatrix[Model.Restrictions][i], null, new { @placeholder = "Петрівський квартал", @class = "form-control" })
                    <div class="input-group-append">
                        <span class="input-group-text">тис. стекол</span>
                    </div>
                </div>
            }
            if (i == 3)
            {
                <div class="input-group mt-2 col-5">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Інтерхол Буд:</span>
                    </div>
                    @Html.TextBoxFor(x => Model.CMatrix[Model.Restrictions][i], null, new { @placeholder = "Інтерхол Буд", @class = "form-control" })
                    <div class="input-group-append">
                        <span class="input-group-text">тис. стекол</span>
                    </div>
                </div>
            }
            if (i >= 4)
            {
                <div class="input-group mt-2 col-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Компанія @(i + 1):</span>
                    </div>
                    @Html.TextBoxFor(x => Model.CMatrix[Model.Restrictions][i], null, new { @placeholder = "Компанія " + @i + 1, @class = "form-control" })
                    <div class="input-group-append">
                        <span class="input-group-text">тис. стекол</span>
                    </div>
                </div>
            }
        }
    </div>
    <p class="mt-2">Вартість транспортування 1000 стекол:</p>
    <div class="ml-4 pb-3 border-bottom">
        @for (int i = 0; i < Model.CMatrix.Length - 1; i++)
        {
            for (int j = 0; j < Model.CMatrix[i].Length - 1; j++)
            {
                if (i == 0 && j == 0)
                {
                    <p>Київ</p>
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Житлобуд-1:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Житлобуд-1", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 0 && j == 1)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Житлобуд-2:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Житлобуд-2", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 0 && j == 2)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Петрівський квартал:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Петрівський квартал", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 0 && j == 3)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Інтерхол Буд:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Інтерхол Буд", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 0 && j >= 4)
                {
                    for (int k = 4; k < j; k++)
                    {
                        <div class="input-group col-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Компанія @(i + 1):</span>
                            </div>
                            @Html.TextBoxFor(x => Model.CMatrix[i][k], null, new { @placeholder = "Компанія" + @i + 1, @class = "form-control" })
                            <div class="input-group-append">
                                <span class="input-group-text">тис. грн</span>
                            </div>
                        </div>
                    }
                }
                if (i == 1 && j == 0)
                {
                    <p class="mt-2">Харків</p>
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Житлобуд-1:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Житлобуд-1", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 1 && j == 1)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Житлобуд-2:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Житлобуд-2", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 1 && j == 2)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Петрівський квартал:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Петрівський квартал", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 1 && j == 3)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Інтерхол Буд:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Інтерхол Буд", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 1 && j >= 4)
                {
                    for (int k = 4; k < j; k++)
                    {
                        <div class="input-group col-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Компанія @(i + 1):</span>
                            </div>
                            @Html.TextBoxFor(x => Model.CMatrix[i][k], null, new { @placeholder = "Компанія" + @i + 1, @class = "form-control" })
                            <div class="input-group-append">
                                <span class="input-group-text">тис. грн</span>
                            </div>
                        </div>
                    }
                }
                if (i == 2 && j == 0)
                {
                    <p class="mt-2">Львів</p>
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Житлобуд-1:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Житлобуд-1", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 2 && j == 1)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Житлобуд-2:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Житлобуд-2", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 2 && j == 2)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Петрівський квартал:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Петрівський квартал", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. стекол</span>
                        </div>
                    </div>
                }
                if (i == 2 && j == 3)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Інтерхол Буд:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Інтерхол Буд", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i == 2 && j >= 4)
                {
                    for (int k = 4; k < j; k++)
                    {
                        <div class="input-group col-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Компанія @(i + 1):</span>
                            </div>
                            @Html.TextBoxFor(x => Model.CMatrix[i][k], null, new { @placeholder = "Компанія" + @i + 1, @class = "form-control" })
                            <div class="input-group-append">
                                <span class="input-group-text">тис. грн</span>
                            </div>
                        </div>
                    }
                }
                if (i >= 3 && j == 0)
                {
                    <p class="mt-2">Місто @(i + 1)</p>
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Житлобуд-1:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Житлобуд-1", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i >= 3 && j == 1)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Житлобуд-2:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Житлобуд-2", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i >= 3 && j == 2)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Петрівський квартал:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Петрівський квартал", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i >= 3 && j == 3)
                {
                    <div class="input-group col-5">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Інтерхол Буд:</span>
                        </div>
                        @Html.TextBoxFor(x => Model.CMatrix[i][j], null, new { @placeholder = "Інтерхол Буд", @class = "form-control" })
                        <div class="input-group-append">
                            <span class="input-group-text">тис. грн</span>
                        </div>
                    </div>
                }
                if (i >= 3 && j >= 4)
                {
                    for (int k = 4; k < j; k++)
                    {
                        <div class="input-group col-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Компанія @(i + 1):</span>
                            </div>
                            @Html.TextBoxFor(x => Model.CMatrix[i][k], null, new { @placeholder = "Компанія" + @i + 1, @class = "form-control" })
                            <div class="input-group-append">
                                <span class="input-group-text">тис. грн</span>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
    <div class="mx-auto col-9"><input type="submit" value="Розрахувати" class="btn btn-success mt-2" /></div>
}
