@model dynamic

@{
    ViewBag.Title = "Min Hungarian Method";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border-top">
    <p class="mt-2">Мінімальна кількість людино-днів, витрачена на виконання всіх замовлень: <b>@ViewBag.Result днів.</b></p>
    <p><b>Доручити:</b></p>
    @for (int i = 0; i < ViewBag.Matrix.Length; i++)
    {
        for (int j = 0; j < ViewBag.Matrix[i].Length; j++)
        {
            if (ViewBag.Matrix[i][j] == 1)
            {
                if (i == 0 && j == 0)
                {
                    <p>Бойко програму "Блог".</p>
                }
                if (i == 0 && j == 1)
                {
                    <p>Бойко програму "Словник".</p>
                }
                if (i == 0 && j == 2)
                {
                    <p>Бойко програму "Карти".</p>
                }
                if (i == 0 && j == 3)
                {
                    <p>Бойко програму "Мессенжер".</p>
                }
                if (i == 0 && j == 4)
                {
                    <p>Бойко програму "Квитки".</p>
                }
                if (i == 0 && j >= 5)
                {
                    <p>Бойко програму "Програма @(j + 1)".</p>
                }
                if (i == 1 && j == 0)
                {
                    <p>Іваненко програму "Блог".</p>
                }
                if (i == 1 && j == 1)
                {
                    <p>Іваненко програму "Словник".</p>
                }
                if (i == 1 && j == 2)
                {
                    <p>Іваненко програму "Карти".</p>
                }
                if (i == 1 && j == 3)
                {
                    <p>Іваненко програму "Мессенжер".</p>
                }
                if (i == 1 && j == 4)
                {
                    <p>Іваненко програму "Квитки".</p>
                }
                if (i == 1 && j >= 5)
                {
                    <p>Іваненко програму "Програма @(j + 1)".</p>
                }
                if (i == 2 && j == 0)
                {
                    <p>Чупрей програму "Блог".</p>
                }
                if (i == 2 && j == 1)
                {
                    <p>Чупрей програму "Словник".</p>
                }
                if (i == 2 && j == 2)
                {
                    <p>Чупрей програму "Карти".</p>
                }
                if (i == 2 && j == 3)
                {
                    <p>Чупрей програму "Мессенжер".</p>
                }
                if (i == 2 && j == 4)
                {
                    <p>Чупрей програму "Квитки".</p>
                }
                if (i == 2 && j >= 5)
                {
                    <p>Чупрей програму "Програма @(j + 1)".</p>
                }
                if (i == 3 && j == 0)
                {
                    <p>Петріву програму "Блог".</p>
                }
                if (i == 3 && j == 1)
                {
                    <p>Петріву програму "Словник".</p>
                }
                if (i == 3 && j == 2)
                {
                    <p>Петріву програму "Карти".</p>
                }
                if (i == 3 && j == 3)
                {
                    <p>Петріву програму "Мессенжер".</p>
                }
                if (i == 3 && j == 4)
                {
                    <p>Петріву програму "Квитки".</p>
                }
                if (i == 3 && j >= 5)
                {
                    <p>Петріву програму "Програма @(j + 1)".</p>
                }
                if (i == 4 && j == 0)
                {
                    <p>Соколовському програму "Блог".</p>
                }
                if (i == 4 && j == 1)
                {
                    <p>Соколовському програму "Словник".</p>
                }
                if (i == 4 && j == 2)
                {
                    <p>Соколовському програму "Карти".</p>
                }
                if (i == 4 && j == 3)
                {
                    <p>Соколовському програму "Мессенжер".</p>
                }
                if (i == 4 && j == 4)
                {
                    <p>Соколовському програму "Квитки".</p>
                }
                if (i == 4 && j >= 5)
                {
                    <p>Соколовському програму "Програма @(j + 1)".</p>
                }
                if (i >= 5 && j == 0)
                {
                    <p>Програмісту @(i + 1) програму "Блог".</p>
                }
                if (i >= 5 && j == 1)
                {
                    <p>Програмісту @(i + 1) програму "Словник".</p>
                }
                if (i >= 5 && j == 2)
                {
                    <p>Програмісту @(i + 1) програму "Карти".</p>
                }
                if (i >= 5 && j == 3)
                {
                    <p>Програмісту @(i + 1) програму "Мессенжер".</p>
                }
                if (i >= 5 && j == 4)
                {
                    <p>Програмісту @(i + 1) програму "Квитки".</p>
                }
                if (i >= 5 && j >= 5)
                {
                    <p>Програмісту @(i + 1) програму "Програма @(j + 1)".</p>
                }
            }
        }
    }
</div>