@model dynamic

@{
    ViewBag.Title = "Max Hungarian Method";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border-top">
    <p>Максимальний прибуток від транспортування: <b>@ViewBag.Result тис. грн.</b></p>
    <p><b>Перевезти:</b></p>
    @for (int i = 0; i < ViewBag.Matrix.Length; i++)
    {
        for (int j = 0; j < ViewBag.Matrix[i].Length; j++)
        {
            if (ViewBag.Matrix[i][j] == 1)
            {
                if (i == 0 && j == 0)
                {
                    <p>З Києва до "Житлобуду-1".</p>
                }
                if (i == 0 && j == 1)
                {
                    <p>З Києва до "Житлобуду-2".</p>
                }
                if (i == 0 && j == 2)
                {
                    <p>З Києва до "Петрівського кварталу".</p>
                }
                if (i == 0 && j == 3)
                {
                    <p>З Києва до "Інерхол буду".</p>
                }
                if (i == 0 && j >= 4)
                {
                    <p>З Києва до "Компанії @(j + 1)".</p>
                }
                if (i == 1 && j == 0)
                {
                    <p>Зі Львова до "Житлобуду-1".</p>
                }
                if (i == 1 && j == 1)
                {
                    <p>Зі Львова до "Житлобуду-2".</p>
                }
                if (i == 1 && j == 2)
                {
                    <p>Зі Львова до "Петрівського кварталу".</p>
                }
                if (i == 1 && j == 3)
                {
                    <p>Зі Львова до "Інерхол буду".</p>
                }
                if (i == 1 && j >= 4)
                {
                    <p>Зі Львова до "Компанії @(j + 1)".</p>
                }
                if (i == 2 && j == 0)
                {
                    <p>З Харкова до "Житлобуду-1".</p>
                }
                if (i == 2 && j == 1)
                {
                    <p>З Харкова до "Житлобуду-2".</p>
                }
                if (i == 2 && j == 2)
                {
                    <p>З Харкова до "Петрівського кварталу".</p>
                }
                if (i == 2 && j == 3)
                {
                    <p>З Харкова до "Інерхол буду".</p>
                }
                if (i == 2 && j >= 4)
                {
                    <p>З Харкова до "Компанії @(j + 1)".</p>
                }
                if (i == 3 && j == 0)
                {
                    <p>З Одеси до "Житлобуду-1".</p>
                }
                if (i == 3 && j == 1)
                {
                    <p>З Одеси до "Житлобуду-2".</p>
                }
                if (i == 3 && j == 2)
                {
                    <p>З Одеси до "Петрівського кварталу".</p>
                }
                if (i == 3 && j == 3)
                {
                    <p>З Одеси до "Інерхол буду".</p>
                }
                if (i == 3 && j >= 4)
                {
                    <p>З Одеси до "Компанії @(j + 1)".</p>
                }
                if (i >= 4 && j == 0)
                {
                    <p>З Міста @(i + 1) до "Житлобуду-1".</p>
                }
                if (i >= 4 && j == 1)
                {
                    <p>З Міста @(i + 1) до "Житлобуду-2".</p>
                }
                if (i >= 4 && j == 2)
                {
                    <p>З Міста @(i + 1) до "Петрівського кварталу".</p>
                }
                if (i >= 4 && j == 3)
                {
                    <p>З Міста @(i + 1) до "Інерхол буду".</p>
                }
                if (i >= 4 && j >= 4)
                {
                    <p>З Міста @(i + 1) до "Компанії @(j + 1)".</p>
                }
            }
        }
    }
</div>